<h1>Url Shortener App</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>
<%= form_for(@url) do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit "Shorten!" %>
<% end %>
